*{
  margin: 0;
  padding: 0;
}
img{
  border-radius: 16px;
}
#page {
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto 28px;
  box-sizing: border-box;
}
body{
  background-image: url(assets/pg.jpg);
  background-size: cover;
}
.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: #573A37;
}
main {
  padding: 24px;
}
#about p + p {
  margin-top: 12px;
}
section + section{
  margin-top: 24px;
}
h1{
  line-height: 140%;
  font-size: 40px;
  margin-bottom: 4px;
}
h2{
  font-size: 24px;
}
h1, h2{
  color: #291b1a;
  margin-bottom: 4px;
  line-height: 150%;
}
ul {
  margin-left: 24px;
}
footer {
  color: #F0E8C2;
  text-align: center;
  margin-bottom: 48px;
}
footer img {
vertical-align: middle;
}